.camera{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.camera__content{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.camera__image{
  width: 300px;  
}
.camera__canvas{
  display: none;
  
}
.camera__btn-block{
  display: flex;
}
.camera__btn{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:disabled{
  background: gray;
}